# Ignore python cache
__pycache__/

# Ignore virtual environments
venv/
.env

# Ignore large datasets
/data/*.csv

# Ignore local secret files
secrets.json

# Ignore Azure Functions local settings (contains secrets)
local.settings.json
.metadata/
node.exe

# Ignore Java compiled files and build folders
target/
build/
bin/
*.class

# Ignore OS-specific files
.DS_Store
Thumbs.db

